<!DOCTYPE HTML>
<html>
<head>
    <title>COVID SEARCH</title>
    <link href="{{ url_for('static',filename='styles/style.css') }}" rel="stylesheet" type="text/css"/>
    <script src='https://cdn.plot.ly/plotly-2.6.3.min.js'></script>
</head>
<body>
    <h1>{{name}}</h1>
    <h2>Population: {{pop}}<h2/>
    <h2>Vaccinated: {{vaccinated}}</h2>
    <h2>Deaths: {{deaths}}</h2>
    <table border = 1 class = "content-table">
        <thead class = "thead_style">
            <td>Variant</td>
            <td>Date Of Discovery</td>
            <td>Cases</td>
        </thead>
        {%for variant in variants%}
        <tr>
			<td>{{variant[0]}}</td>
            <td>{{variant[1]}}</td>
            <td>{{variant[2]}}</td>
        </tr>
        {%endfor%}
    </table>
    <br>
    
    <div id='graph'></div>
	   
   <p> In the country {{name}}, the {{max[0]}} variant affects the most people, with {{max[2]}} cases <br>
   This variant was first discovered in {{max[1]}}.
   </p> 
</body>
<script>
    var data = [{
        values: [
            {%for variant in variants%}
                //Number("{{variant[2]}}".replaceAll(",","")),
                {{variant[2]}},
            {%endfor%}
        ],
        labels: [
            {%for variant in variants%}
                "{{variant[0]}}",
            {%endfor%}
        ],
        type: 'pie'
    }];
    var layout = {
      height: 400,
      width: 500
    };
    Plotly.newPlot('graph', data, layout);
</script>
</html> 