<!DOCTYPE html> 
<html lang = "en" dir = "ltr"> 

<head> 

<meta charset = "utf -8"> 
<title> Covid Search </title> 

 </head> 

<body>
<h1> </h1> 

<form action = "/searched/" method = "GET" >
 <!--<input type ="text" placeholder = "Search..."> --> 
  <input type="text" id="query" placeholder = "Search" name = "query" id = "query"}>
  <input type="submit" value="Submit">
</form>

<!-- <input  type = "submit" id ="script" > Search </button> -->

<!--<button> <a href="/my-link/">Search</a></button> -->

</body> 

</html>

