body{
	background-color: #AFD275; 
}  


 .main_title{
 	color: #05386B;
	position:fixed; 
	left: 31%; 
	top: 25%; 
	font-weight: bold; 
	font-size: 45px; 
}

  
.search_btn{
	
  cursor: pointer;
  width: 44px;
  height: 44px;
  border-radius:20px; 
  background-color: #AFD275; 
  border-color:  #4654e1; 
  margin-left: auto; 
  margin-right: auto; 
}

.search_form {
  background-color: #4654e1;
  width: 500px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
   margin-left: auto;
   margin-right: auto;
   position: fixed; 
  left: 32%;
   top: 40%; 
   /*text-align: left;*/
  
}

.search_input {
  all: unset;
  font: 16px system-ui;
  font-color: #4654e1;
  height: 25%; 
  width: 80%;
  padding: 6px 10px;
  background-color:#AFD275; 
  margin-left:25px; 
  margin-right: auto; 
  border-radius: 5px; 
  font-weight: bold; 

  
  
  }

::placeholder {
  color: black; 
  opacity: 0.7; 
  font-weight: bold;
}


.next_page{
		
	font-size: 28px; 
	position: fixed; 
	left: 32%; 
	top: 55%; 
	font-weight: bold; 
}